*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    background-color: black;
}

nav{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    background-color: blue;
    z-index: -100;
}

section{
    margin-left: 150px;
    width: calc(100% - 150px);
    height: calc(100vh - 70px);
    background-color: darkcyan;
}

.div-form{
    width: 100%;
    margin: 0 !important;
}

.div-form div{
    padding: 5px;
}

label{
    width: 15%;
    display: inline-block;
    text-align: right;
}

input, select{
    width: 30%;
    height: 30px;
    font-size: 16px;
}

table{
    width: 100%;
    border: 2px black solid;
    border-collapse: collapse;
}

table th,
table td{
    border: 1px black solid;
}

.div-btn{
    width: 30%;
    margin-left: 15%;
}

.div-btn button{
    width: 50%;
    height: 35px;
}

.btnEditar,
.btnEliminar{
    width: 40%;
    height: 20px;
    margin-left: 7%;
}

.btnEliminar{
    color: red;
}

.btnEditar{
    color: green;
}
